<a href="https://colab.research.google.com/github/melnotte/data_science_specialization/blob/main/Pandas_E_S_trabajando_con_diferentes_formatos_de_archivo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



> Este cuaderno contiene las actividades realizadas en el curso de
Pandas E/S: trabajando con diferentes formatos de archivo

In [ ]:
import pandas as pd
import chardet

In [ ]:
# Obtenemos la codificación del archivo
with open('datos_sus.csv', 'rb') as file:
  print(chardet.detect(file.read()))

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [ ]:
df = pd.read_csv('datos_sus.csv', encoding = 'ISO-8859-1', sep = ';', skiprows = 2, skipfooter=9, engine='python')

In [ ]:
df.head()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Período:Jan/2008-Mar/2021
Unidade da Federação 2008/Jan   2008/Fev   2008/Mar   2008/Abr   2008/Mai   2008/Jun   2008/Jul   2008/Ago   2008/Set   2008/Out   2008/Nov   2008/Dez   2009/Jan   2009/Fev   2009/Mar   2009/Abr   2009/Mai   2009/Jun   2009/Jul   2009/Ago   2009/Set   2009/Out   2009/Nov   2009/Dez   2010/Jan   2010/Fev   2010/Mar   2010/Abr   2010/Mai   2010/Jun    2010/Jul    2010/Ago   2010/Set   2010/Out   2010/Nov   2010/Dez   2011/Jan   2011/Fev   2011/Mar   2011/Abr    2011/Mai    2011/Jun    2011/Jul    2011/Ago   2011/Set    2011/Out   2011/Nov   2011/Dez    2012/Jan    2012/Fev    2012/Mar    2012/Abr   2012/Mai    2012/Jun    2012/Jul    2012/Ago    2012/Set    2012/Out    2012/Nov    2012/Dez   2013/Jan    2013/Fev   2013/Mar    2013/Abr    2013/Mai    2013/Jun    2013/Jul    2013/Ago    2013/Set    2013/Out    2013/Nov    2013/Dez    2014/Jan    2014/Fev   2014/Mar   2014/Abr   2014/Mai    2014/Jun    2014/Jul   2014/Ago   2014/Set    2014/Out    2014/Nov    2014/Dez    2015/Jan    2015/Fev    2015/Mar    2015/Abr    2015/Mai    2015/Jun    2015/Jul    2015/Ago    2015/Set    2015/Out    2015/Nov    2015/Dez    2016/Jan    2016/Fev    2016/Mar    2016/Abr    2016/Mai    2016/Jun    2016/Jul    2016/Ago    2016/Set    2016/Out    2016/Nov    2016/Dez    2017/Jan    2017/Fev    2017/Mar    2017/Abr    2017/Mai    2017/Jun    2017/Jul    2017/Ago    2017/Set    2017/Out    2017/Nov    2017/Dez    2018/Jan    2018/Fev    2018/Mar    2018/Abr    2018/Mai    2018/Jun    2018/Jul    2018/Ago    2018/Set    2018/Out    2018/Nov    2018/Dez    2019/Jan    2019/Fev    2019/Mar    2019/Abr    2019/Mai    2019/Jun    2019/Jul    2019/Ago    2019/Set    2019/Out    2019/Nov    2019/Dez    2020/Jan    2020/Fev    2020/Mar    2020/Abr    2020/Mai    2020/Jun    2020/Jul    2020/Ago    2020/Set    2020/Out    2020/Nov    2020/Dez    2021/Jan    2021/Fev    2021/Mar                        Total
Rondônia             1388528,39 2931283,42 1541682,52 1525314,96 1645953,84 1406150,68 3065279,01 3231494,61 3117178,63 3068430,44 2825838,52 2931173,58 2885269,07 2860103,74 3684944,68 3607289,68 3774356,60 3706711,84 3763187,55 3533625,83 3605007,43 3907032,72 3939820,71 3901084,11 3684407,02 3623015,58 3890461,90 4193533,87 4534400,67 4451208,03  4874592,78  4460802,38 5067886,24 4511092,85 4394680,50 4098741,80 4411499,48 3868617,95 4298702,78 5062171,26  4769347,86  4578105,60  4477870,09  5173453,51 5554791,51  4110177,87 4428561,32 3534337,12  4015781,56  4426788,59  4873364,26  4516103,32 4619267,68  5226741,11  4756327,23  4112530,56  4023514,11  3866138,34  3543519,05  3201183,18 4072043,77  4534984,70 5229512,34  5660083,57  5681210,93  5076918,42  5623854,81  5928359,34  6019754,08  6050368,46  6422821,25  6172605,14  5773335,50  6229461,54 6536336,12 6611751,56 7122614,34  7207965,81  6725041,04 7220209,27 6814650,05  5931824,36  6179626,72  6743020,43  7278090,89  6619352,84  7131263,61  6945021,28  7868953,20  7546597,11  8738484,55  6756554,76  7443631,94  6964209,53  6310062,08  6561221,77  7735224,22  7995955,06  7189165,44  7956812,12  7551313,49  7930610,83  8133705,36  8150486,59  8022627,09  7280387,24  7047166,57  6961884,87  7820057,09  6801952,61  7825186,40  8706448,06  7700730,62  7948291,63  8438077,45  7656644,83  8047742,98  8657206,23  8150893,68  7507845,13  7998345,94  8893683,69  8867793,32  8871408,50  8501601,67  8315107,81  8525499,78  9177611,46  7368996,38  8835095,43  8328186,64  8408512,77  9351705,82  8143007,97  8949741,77  9630553,15  9581970,31  7891114,05  9792370,67  9170787,53  8816846,71  10024554,15 9675423,70  8085025,66  9222010,60  7493901,30  8148169,46  7353768,37  7739864,47  9246097,96  11824687,13 11733307,76 10201985,14 7955139,45  9357946,29  8880836,55  9266014,59  7730597,04  11023309,47              996411254,68
Acre                 902416,00  1497206,26 1794028,48 1730469,42 1819443,92 1828496,00 2511754,59 2089107,14 2275708,53 1923886,57 1756986,80 2235639,98 2497116,43 2253558,01 2122673,92 2834317,62 2722065,97 2432831,95 2630190,65 2307579,00 -          2826477,02 2170791,18 2541526,44 2491042,33 1954473,90 2389996,38 2654878,60 2844085,21 2336207,19  2125143,06  2430293,67 2377738,44 2184746,84 2468452,90 2516284,54 3051370,08 2629104,42 2485451,79 2685361,47  2723636,56  2703465,22  3136180,38  2779056,81 2843787,04  2678333,12 2995350,62 2798961,10  2477516,55  2020664,45  2891004,20  2917189,18 2856559,74  2972526,32  2642561,57  3092964,63  2305053,90  3023732,28  3077000,68  2652599,99 2629926,82  3042756,88 2938961,84  3078191,21  2690955,41  2484380,90  2695489,86  2858632,12  2747845,31  2787096,33  2833968,00  2817689,19  3401042,72  2727314,78 2876282,12 2997785,18 3048049,52  2842110,36  3186712,81 3061644,48 3008496,43  3162186,27  3185054,44  2542641,25  3375217,14  3024505,16  3102975,42  3080946,80  3065970,28  3179076,68  2849011,25  3238448,07  3279779,27  3010495,38  3054205,54  3001387,94  3049208,63  3351792,42  3118339,30  3378121,43  3168503,68  3916151,76  3837020,05  3659074,22  3540035,67  3184932,00  3019223,73  3264746,69  2821087,89  3361575,80  3080444,99  2792505,42  3268651,85  2397512,85  2348760,00  3139155,41  2765062,92  4540084,78  4120228,96  2610454,55  3576595,19  2444567,37  2602434,35  3064163,42  2276236,69  3239474,10  3126429,88  2998865,51  2619709,86  3018048,94  3342614,24  2123426,26  2664654,52  1906429,95  3096439,63  2411628,00  2840630,58  3260153,59  3250722,84  3204998,88  3052745,65  3124802,29  3021521,75  2874871,28  3331803,55  3417691,07  3076003,20  2286642,60  2896340,24  3045245,80  3915193,20  3640142,82  3391242,21  4044321,44  3276590,10  3696997,31  3715723,12  3538427,92  4077045,92               450048530,47
Amazonas             4735529,42 7118990,57 8196635,49 8259378,42 7831399,90 8477273,62 9368858,72 9352532,70 9363099,35 8618318,83 6555549,08 7777645,88 7403068,36 6683346,89 9927781,20 8844511,21 9079035,96 8832894,53 9373395,97 9578326,03 9730634,16 9179252,65 8314648,93 9050439,39 9419460,86 8680178,57 9168055,41 9897901,80 9651362,37 10854599,47 10417122,89 8718347,13 8221592,12 9613977,03 9927574,41 9470661,21 9736750,91 8745259,80 9380112,36 10179342,29 11061892,22 10211426,03 12123214,39 9559769,10 10082882,91 9971934,86 9280038,03 11310448,23 10352439,40 10902583,74 10336630,29 9891098,07 10955256,77 10614256,72 11280206,14 10115473,76 10606064,15 10488989,62 10042561,52 8864038,68 10739446,51 9684212,55 10130504,54 11391815,28 10568514,30 11145486,18 10698375,56 11873036,73 11047897,23 11291971,45 10409535,59 10075788,88 10854399,27 8530242,21 9541806,56 8926365,37 11573335,40 10115769,72 9843473,49 9940875,63 11022062,33 10881666,13 10596831,32 10073869,11 11653868,55 12074530,23 11599144,27 12592492,33 12785467,37 13414600,97 14294033,22 12546727,34 12996512,49 13035233,22 12949248,84 11336880,23 10920318,02 11918470,84 13023926,19 12155273,10 13519252,14 13076793,34 12605307,29 13670157,49 13659651,19 11115915,16 10975042,21 11172130,72 12819877,21 10999828,34 14050412,75 12450515,95 14585552,51 12789637,85 14376990,41 14240071,26 13594647,25 14584288,95 13158724,61 13169660,32 13572263,03 13083081,70 14322305,22 14643340,51 14632208,09 14500521,14 14840533,42 14427620,91 15818964,25 16358462,57 15391163,74 14154362,85 16791397,31 14369987,43 16339024,96 15622910,63 16483166,92 15422243,28 15961988,04 15787896,78 16515441,67 15788848,91 15784686,14 14388606,82 16063450,73 14939977,20 15107056,74 13534657,88 19698748,89 21129394,43 19769460,14 18059931,43 17841015,63 16408315,10 19895617,91 17765167,69 21430289,17 25917134,55 22032176,22             1917247936,05
Roraima              657889,53  777939,31  718688,03  839994,39  862347,96  832440,66  996693,09  894271,18  910424,17  1191770,32 1056218,71 1244339,25 1085679,25 969528,54  1393226,70 1273734,17 1552638,50 1490587,74 1596751,80 1848998,68 1701611,25 1164711,18 1434809,17 1603817,28 1437340,80 1332094,01 1900513,75 1933875,49 1773958,29 1804729,73  1846639,32  1643518,23 1843163,29 1807885,17 1674871,65 1250999,28 1257275,43 1171045,72 1389668,67 1344865,94  1067658,62  1263672,05  1332059,90  1578802,72 1680654,08  1442744,11 1650204,12 1929960,01  1454967,71  1851381,93  2033270,63  2013566,74 2135433,72  1881388,84  1700584,76  1900737,72  1675603,38  1459814,93  1606433,71  1566723,97 1560766,91  1572959,06 1872493,39  1849434,84  1906244,70  2046527,40  2230115,06  1987863,23  1692032,87  1749131,23  1623751,92  1449573,40  1799254,33  1673138,65 1707514,82 1509667,70 1746450,27  1568152,88  1763225,69 1808929,95 1633205,33  1626604,96  1784288,11  1137519,58  1782510,89  2242719,18  1827444,50  2256510,91  1859541,42  1550643,78  1968388,99  2613984,17  2342709,66  2186291,71  2046678,01  1879063,44  1768010,64  1761873,12  1975897,20  2631309,15  2405520,72  2487164,76  3104153,09  2717341,67  2667842,22  2756299,47  2478590,27  2379805,56  2331250,21  2328221,91  2524744,05  2637579,82  2510634,79  2755620,24  2878177,60  2921978,36  2794080,79  2512259,50  2508514,18  2635287,45  2914195,21  2881281,13  2740423,51  2695484,62  2613895,43  3020718,84  2860584,22  2740088,01  2689103,41  2985029,23  2771881,20  2938769,32  2527888,58  2587642,41  1923440,17  2422446,17  2495491,03  2851291,67  3137537,40  3788154,80  3217218,61  3113940,14  3157977,67  3097113,21  3059823,80  2912519,98  2937346,43  2868820,96  2752228,26  3401864,29  3015488,30  2826486,18  2928043,91  3090313,73  3621031,05  3454460,94  3266928,47  3519773,73  3985530,08               328876965,09

In [ ]:
df.shape

(29, 1)

# IMPORTAR A EXCEL

In [ ]:
archivo = 'emisiones_CO2.xlsx'

In [ ]:
data_co2 = pd.read_excel(archivo)

In [ ]:
data_co2.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros,Per Capita
0,Afganistán,AFG,1750,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
pd.ExcelFile(archivo).sheet_names

['emisiones_C02', 'emisiones_percapita', 'fuentes']

In [ ]:
per_capita = pd.read_excel(archivo, sheet_name='emisiones_percapita')
per_capita.head()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
0,Afganistán,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
per_capita.tail()

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
63099,Global,WLD,2017,4749682.0,1908857.0,1610910.0,940144.0,198416.0,51579.0,39776.0
63100,Global,WLD,2018,4792753.0,1919213.0,1596350.0,979965.0,204225.0,53634.0,39366.0
63101,Global,WLD,2019,4775633.0,1896468.0,1589920.0,984878.0,208309.0,56569.0,39490.0
63102,Global,WLD,2020,4497423.0,1807760.0,1427353.0,963695.0,208844.0,51981.0,37789.0
63103,Global,WLD,2021,4693699.0,1893923.0,1496614.0,1001585.0,211472.0,52663.0,37443.0

In [ ]:
#Registros aleatorios
per_capita.sample(10)

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
4784,Barbados,BRB,1910,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19852,Guiana Francesa,GUF,2018,2540156.0,0.0,2540156.0,0.0,0.0,0.0,NaN
7195,Botsuana,BWA,1873,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10966,Isla De Navidad,CXR,1836,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35217,Martinica,MTQ,1879,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11175,Colombia,COL,1773,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60706,Vanuatu,VUT,1800,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35309,Martinica,MTQ,1971,1635504.0,0.0,1635504.0,0.0,0.0,0.0,NaN
51461,Islas Salomón,SLB,1803,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44257,Polonia,POL,1943,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
emisiones_C02 = pd.read_excel(archivo, sheet_name='emisiones_C02', usecols = 'A:D', nrows = 10)
emisiones_C02

         País ISO 3166-1 alpha-3   Año  Total
0  Afganistán                AFG  1750      0
1  Afganistán                AFG  1751      0
2  Afganistán                AFG  1752      0
3  Afganistán                AFG  1753      0
4  Afganistán                AFG  1754      0
5  Afganistán                AFG  1755      0
6  Afganistán                AFG  1756      0
7  Afganistán                AFG  1757      0
8  Afganistán                AFG  1758      0
9  Afganistán                AFG  1759      0

# EXPORTAR A EXCEL

In [ ]:
per_capita.to_excel('co2_per_capita.xlsx', index = False)

In [ ]:
pd.read_excel('co2_per_capita.xlsx')

,País,ISO 3166-1 alpha-3,Año,Total,Carbón,Aceite,Gas,Cemento,Quema,Otros
0,Afganistán,AFG,1750,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afganistán,AFG,1751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afganistán,AFG,1752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afganistán,AFG,1753,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afganistán,AFG,1754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,4749682.0,1908857.0,1610910.0,940144.0,198416.0,51579.0,39776.0
63100,Global,WLD,2018,4792753.0,1919213.0,1596350.0,979965.0,204225.0,53634.0,39366.0
63101,Global,WLD,2019,4775633.0,1896468.0,1589920.0,984878.0,208309.0,56569.0,39490.0
63102,Global,WLD,2020,4497423.0,1807760.0,1427353.0,963695.0,208844.0,51981.0,37789.0
63103,Global,WLD,2021,4693699.0,1893923.0,1496614.0,1001585.0,211472.0,52663.0,37443.0

# IMPORTAR DESDE GOOGLE SHEETS

In [ ]:
sheet_id = '1siatjK8J5J3FFJlzppPCWlwC7TU3yaTm4-xkycpF7ZU'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet'

In [ ]:
global_carbon_emissions = pd.read_csv(url)
global_carbon_emissions

,Country Name,country_code,Region,Indicator Name,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019.1
0,Aruba,ABW,Latin America & Caribbean,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,South Asia,CO2 emissions (metric tons per capita),"191,745,115","167,681,579","95,957,742","8,472,111","75,545,827","68,467,956",...,"29,650,624","259,295,334","18,562,366","146,235,617","172,896,741","149,789,334","131,694,556","1,632,953","159,824,372","159,824,372"
2,Angola,AGO,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"553,661,955","544,538,649","543,557,223","70,898,423","836,804,405","912,141,485",...,"985,522,312","950,695,879","1,036,293,852","1,099,779,111","113,504,405","1,031,811,348","81,330,073","777,674,934","792,137,069","792,137,069"
3,Albania,ALB,Europe & Central Asia,CO2 emissions (metric tons per capita),"1,819,541,634","124,281,022","683,699,826","638,307,036","645,355,189","605,436,253",...,"166,942,319","150,324,046","1,533,630,039","1,668,337,371","160,377,515","1,557,664,358","1,788,786,074","1,782,738,948","169,224,832","169,224,832"
4,Andorra,AND,Europe & Central Asia,CO2 emissions (metric tons per capita),"7,521,831,658","723,537,924","69,630,787","6,724,177,518","6,541,578,914","6,733,479,486",...,"5,850,886,105","5,944,654,173","5,942,800,412","5,807,127,723","6,026,181,822","6,080,600,282","6,104,133,912","6,362,975,399","6,481,217,432","6,481,217,432"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,Samoa,WSM,East Asia & Pacific,CO2 emissions (metric tons per capita),"55,283,574","609,756,098","604,266,119","658,221,486","592,806,881","705,674,802",...,"1,066,843,067","1,057,703,002","1,048,701,723","1,092,498,145","1,240,245,954","1,542,099,372","1,586,830,344","1,478,626,161","1,522,124,134","1,522,124,134"
211,"Yemen, Rep.",YEM,Middle East & North Africa,CO2 emissions (metric tons per capita),"56,703,735","690,937,429","704,793,064","627,104,927","653,255,714","706,080,534",...,"963,978,488","858,490,955","1,106,687,715","1,062,211,282","511,361,652","399,363,829","359,621,635","341,068,402","380,633,361","380,633,361"
212,South Africa,ZAF,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"6,729,798,587","6,424,621,766","6,175,429,944","6,219,193,872","6,215,847,077","6,378,789,568",...,"7,869,815,906","8,077,957,969","8,138,264,312","8,212,241,156","7,669,937,662","7,563,739,495","7,641,675,086","7,515,678,605","7,507,736,092","7,507,736,092"
213,Zambia,ZMB,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"340,929,635","349,232,211","33,722,439","289,956,061","241,269,619","234,153,214",...,"217,496,732","27,860,069","284,057,568","304,549,552","312,354,964","325,114,844","404,067,778","445,489,133","380,717,051","380,717,051"
214,Zimbabwe,ZWE,Sub-Saharan Africa,CO2 emissions (metric tons per capita),"1,585,443,976","1,713,321,439","1,694,415,977","1,539,740,958","1,417,186,242","135,661,892",...,"88,488,553","915,734,944","919,824,123","889,104,126","899,769,991","78,544,084","726,297,071","857,411,269","80,297,852","80,297,852"

In [ ]:
global_carbon_emissions.to_csv('global_carbon_emissions.csv', index=False)

#IMPORTAR JSON DESDE API

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.11.12)

In [ ]:
import requests
import json

In [ ]:
datos_frutas = requests.get('https://fruityvice.com/api/fruit/all')

In [ ]:
tutti_frutti = json.loads(datos_frutas.text)

In [ ]:
tutti_frutti_normalized = pd.json_normalize(tutti_frutti)
tutti_frutti_normalized

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.00,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.00,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.90,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.00,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147,5.30,6.75,27.10,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.00,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.30,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.00,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.00,0.80
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50,0.12,9.85,13.12,0.54
11,Fig,68,Moraceae,Rosales,Ficus,74,0.30,16.00,19.00,0.80
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44,0.60,0.00,10.00,0.90
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97,0.70,11.20,22.40,2.20
14,Plum,71,Rosaceae,Rosales,Prunus,46,0.28,9.92,11.40,0.70
15,Orange,2,Rutaceae,Sapindales,Citrus,43,0.20,8.20,8.30,1.00
16,GreenApple,72,Rosaceae,Rosales,Malus,21,0.10,6.40,3.10,0.40
17,Raspberry,23,Rosaceae,Rosales,Rubus,53,0.70,4.40,12.00,1.20
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30,0.20,6.00,8.00,0.60
19,Lemon,26,Rutaceae,Sapindales,Citrus,29,0.30,2.50,9.00,1.10
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60,0.38,13.70,15.00,0.82
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.00
22,Apple,6,Rosaceae,Rosales,Malus,52,0.40,10.30,11.40,0.30
23,Guava,37,Myrtaceae,Myrtales,Psidium,68,1.00,9.00,14.00,2.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15,0.10,3.20,3.90,0.50
25,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34,0.00,8.00,8.00,0.00
26,Tangerine,77,Rutaceae,Sapindales,Citrus,45,0.40,9.10,8.30,0.00
27,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36,0.40,3.00,7.00,1.00
28,Lime,44,Rutaceae,Sapindales,Citrus,25,0.10,1.70,8.40,0.30
29,Pomegranate,79,Lythraceae,Myrtales,Punica,83,1.20,13.70,18.70,1.70
30,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60,1.50,8.00,9.00,9.00
31,Grape,81,Vitaceae,Vitales,Vitis,69,0.16,16.00,18.10,0.72
32,Morus,82,Moraceae,Rosales,Morus,43,0.39,8.10,9.80,1.44
33,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44,0.40,3.00,8.00,0.60
34,Avocado,84,Lauraceae,Laurales,Persea,160,14.66,0.66,8.53,2.00
35,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,61,0.50,8.90,14.60,1.14
36,Cranberry,87,Ericaceae,Ericales,Vaccinium,46,0.10,4.00,12.20,0.40
37,Cherry,9,Rosaceae,Rosales,Prunus,50,0.30,8.00,12.00,1.00
38,Peach,86,Rosaceae,Rosales,Prunus,39,0.25,8.40,9.50,0.90
39,Jackfruit,94,Moraceae,Rosales,Artocarpus,95,0.00,19.10,23.20,1.72
40,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44,1.26,0.50,7.56,1.78
41,Hazelnut,96,Betulaceae,Fagales,Corylus,628,61.00,4.30,17.00,15.00
42,Pomelo,98,Rutaceae,Sapindales,Citrus,37,0.00,8.50,9.67,0.82
43,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,73,0.58,16.11,17.91,0.41
44,Pumpkin,100,Cucurbitaceae,Cucurbitales,Cucurbita,25,0.30,3.30,4.60,1.10
45,Japanese Persimmon,101,Ebenaceae,Ericales,Diospyros,70,0.20,13.00,19.00,0.60
46,Papaya,42,Caricaceae,Brassicales,Carica,39,0.30,4.40,5.80,0.50
47,Annona,103,Annonaceae,Rosales,Annonas,92,0.29,3.40,19.10,1.50
48,Ceylon Gooseberry,104,Salicaceae,Malpighiales,Dovyalis,47,0.30,8.10,9.60,1.20

# IMPORTAR HTML

In [ ]:
html_data = pd.read_html('peliculas_wikipedia.html')
html_data

[       0                      1
 0   1998             100 Movies
 1   1999              100 Stars
 2   2000             100 Laughs
 3   2001            100 Thrills
 4   2002           100 Passions
 5   2003  100 Heroes & Villains
 6   2004              100 Songs
 7   2005       100 Movie Quotes
 8   2005              25 Scores
 9   2006             100 Cheers
 10  2006            25 Musicals
 11  2007   100 Movies (Updated)
 12  2008        AFI's 10 Top 10
 13   vte                    vte,
                             Film  Release year              Director  \
 0                   Citizen Kane          1941          Orson Welles
 1                     Casablanca          1942        Michael Curtiz
 2                  The Godfather          1972  Francis Ford Coppola
 3             Gone with the Wind          1939        Victor Fleming
 4             Lawrence of Arabia          1962            David Lean
 ..                           ...           ...                   ...
 95                 The Searchers          1956             John Ford
 96              Bringing Up Baby          1938          Howard Hawks
 97                    Unforgiven          1992        Clint Eastwood
 98  Guess Who's Coming to Dinner          1967        Stanley Kramer
 99           Yankee Doodle Dandy          1942        Michael Curtiz

                       Production companies  Rank
 0                       RKO Radio Pictures     1
 1                    Warner Bros. Pictures     2
 2   Paramount Pictures, Alfran Productions     3
 3          Selznick International Pictures     4
 4                         Horizon Pictures     5
 ..                                     ...   ...
 95                  C. V. Whitney Pictures    96
 96                      RKO Radio Pictures    97
 97                     The Malpaso Company    98
 98                       Columbia Pictures    99
 99                   Warner Bros. Pictures   100

 [100 rows x 5 columns],
           hidevteAFI's 100 Years...100 Movies (1998)  \
 0  Citizen Kane (1941) Casablanca (1942) The Godf...

         hidevteAFI's 100 Years...100 Movies (1998).1
 0  Citizen Kane (1941) Casablanca (1942) The Godf...  ]

In [ ]:
type(html_data)

list

In [ ]:
len(html_data)

3

In [ ]:
#Extraer la segunda tabla
top_100_movies = html_data[1]
top_100_movies

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5
...,...,...,...,...,...
95,The Searchers,1956,John Ford,C. V. Whitney Pictures,96
96,Bringing Up Baby,1938,Howard Hawks,RKO Radio Pictures,97
97,Unforgiven,1992,Clint Eastwood,The Malpaso Company,98
98,Guess Who's Coming to Dinner,1967,Stanley Kramer,Columbia Pictures,99
99,Yankee Doodle Dandy,1942,Michael Curtiz,Warner Bros. Pictures,100

# EXPORTAR A HTML

In [ ]:
top_100_movies.to_html('top_100_movies.html', index=False)

In [ ]:
pd.read_html('top_100_movies.html')

[                            Film  Release year              Director  \
 0                   Citizen Kane          1941          Orson Welles
 1                     Casablanca          1942        Michael Curtiz
 2                  The Godfather          1972  Francis Ford Coppola
 3             Gone with the Wind          1939        Victor Fleming
 4             Lawrence of Arabia          1962            David Lean
 ..                           ...           ...                   ...
 95                 The Searchers          1956             John Ford
 96              Bringing Up Baby          1938          Howard Hawks
 97                    Unforgiven          1992        Clint Eastwood
 98  Guess Who's Coming to Dinner          1967        Stanley Kramer
 99           Yankee Doodle Dandy          1942        Michael Curtiz

                       Production companies  Rank
 0                       RKO Radio Pictures     1
 1                    Warner Bros. Pictures     2
 2   Paramount Pictures, Alfran Productions     3
 3          Selznick International Pictures     4
 4                         Horizon Pictures     5
 ..                                     ...   ...
 95                  C. V. Whitney Pictures    96
 96                      RKO Radio Pictures    97
 97                     The Malpaso Company    98
 98                       Columbia Pictures    99
 99                   Warner Bros. Pictures   100

 [100 rows x 5 columns]]

In [ ]:
top_100_movies.to_csv('top_100_movies.csv', index=False)

In [ ]:
pd.read_csv('top_100_movies.csv')

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5
...,...,...,...,...,...
95,The Searchers,1956,John Ford,C. V. Whitney Pictures,96
96,Bringing Up Baby,1938,Howard Hawks,RKO Radio Pictures,97
97,Unforgiven,1992,Clint Eastwood,The Malpaso Company,98
98,Guess Who's Coming to Dinner,1967,Stanley Kramer,Columbia Pictures,99
99,Yankee Doodle Dandy,1942,Michael Curtiz,Warner Bros. Pictures,100

# IMPORTAR/EXPORTAR XML

In [ ]:
imdb_data = pd.read_xml('imdb_top_1000.xml')
imdb_data.head(5)

,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

In [ ]:
imdb_data.to_xml('imdb_movies_data.xml', index=False)

In [ ]:
pd.read_xml('imdb_movies_data.xml')

,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,None
996,996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,None
997,997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,None,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,None
999,999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,None,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,None

#**Desafío**: obtener un DataFrame de la tabla que contiene la información del número de habitantes de cada país.

In [ ]:
url = 'https://es.wikipedia.org/wiki/Anexo:Pa%C3%ADses_y_territorios_dependientes_por_poblaci%C3%B3n'

In [ ]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

response = requests.get(url, headers=headers)
pob_data = pd.read_html(response.text)

/tmp/ipython-input-1267405142.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pob_data = pd.read_html(response.text)

In [ ]:
pob_data

[     N.º                   País (o territorio dependiente)  \
 0      1                                             India
 1      2                                        China[12]​
 2      3                                    Estados Unidos
 3      4                                         Indonesia
 4      5                                          Pakistán
 ..   ...                                               ...
 241  242                           Islas Cocos (Australia)
 242  243  Islas Ultramarinas Menores de los Estados Unidos
 243  244                               Islas Pitcairn (RU)
 244  NaN                                             Mundo
 245   N°                   País (o territorio dependiente)

     Proyección exponencial de la población al 1/7/2025[7]​  \
 0                                        1 417 492 000
 1                                        1 407 934 000
 2                                          342 181 000
 3                                          284 447 000
 4                                          256 204 000
 ..                                                 ...
 241                                                600
 242                                                100
 243                                                 30
 244                                      8 079 659 000
 245  Proyección exponencial de la población al 1/7/...

      Total mun- dial (%) Cambio medio anual (%)[8]​  \
 0                   1754                        090
 1                   1743                       -005
 2                    424                        061
 3                    352                        107
 4                    317                        256
 ..                   ...                        ...
 241                  000                        174
 242                  000                       -496
 243                  000                       -111
 244                10000                        101
 245  Total mun- dial (%)     Cambio medio anual (%)

      Cambio absoluto anual promedio  Cambio medio abs. total anual (%)  \
 0                        12 692 000                               1547
 1                        -1 390 000                                  -
 2                         2 084 000                                254
 3                         3 043 000                                371
 4                         6 567 000                                801
 ..                              ...                                ...
 241                               0                                000
 242                               0                                000
 243                               0                                000
 244                      82 026 000                              10000
 245  Cambio absoluto anual promedio  Cambio medio abs. total anual (%)

     Años para even- tual du- pli- ca- ción[9]​  \
 0                                           78
 1                                            -
 2                                          114
 3                                           65
 4                                           27
 ..                                         ...
 241                                         40
 242                                          -
 243                                          -
 244                                         69
 245     Años para even- tual du- pli- ca- ción

     Censo más reciente, última estimación oficial, proyección de la ONU o reloj de población nacional  \
 0                                        1 417 492 000
 1                                        1 408 280 000
 2                                          343 105 000
 3                                          284 438 782
 4                                          241 499 431
 ..                                                 ...
 241                                                593
 242                                                190
 243                                                 35
 244                                      8 202 019 000
 245  Censo más reciente, última estimación oficial,...

     Fecha de esta última cifra de población en particular (d/mm/aaaa)[10]​  \
 0                                            1/07/2025
 1                                           31/12/2024
 2                                            5/01/2026
 3                                           30/06/2025
 4                                            1/03/2023
 ..                                                 ...
 241                                         11/08/2021
 242                                          1/04/2010
 243                                          1/07/2023
 244                                          5/01/2026
 245  Fecha de esta última cifra de población en par...

     Tipo[11]​  \
 0           A
 1           E
 2           R
 3           E
 4           C
 ..        ...
 241         C
 242         C
 243         E
 244         R
 245      Tipo

     Enlace o hipervínculo (usualmente de tipo oficial) de esta última cifra de población
 0                                      web.archive.org
 1                                     www.stats.gov.cn
 2                                       www.census.gov
 3                                        www.bps.go.id
 4                                       www.pbs.gov.pk
 ..                                                 ...
 241                              www.citypopulation.de
 242                                   www.statoids.com
 243                                 www.immigration.pn
 244                              www.worldometers.info
 245  Enlace o hipervínculo (usualmente de tipo ofic...

 [246 rows x 12 columns],
         Continente, subcontinente o región geográfica  \
 0                                              África
 1                                      África Central
 2                                    África del Norte
 3                                      África del Sur
 4                                   África Occidental
 ..                                                ...
 92  Organización del Tratado del Atlántico Norte (...
 93                                      Países árabes
 94                               Próximos once (N-11)
 95                       Unión Económica Euroasiática
 96      Continente, subcontinente o región geográfica

    Proyección exponencial de la población al 1/7/2025  Total mun- dial (%)  \
 0                                       1 490 842 000                 1845
 1                                         217 365 000                  269
 2                                         265 309 000                  328
 3                                          72 126 000                  089
 4                                         460 152 000                  570
 ..                                                ...                  ...
 92                                        974 191 000                 1206
 93                                        482 161 000                  597
 94                                      1 633 686 000                 2022
 95                                        175 489 000                  217
 96  Proyección exponencial de la población al 1/7/...  Total mun- dial (%)

     Cambio medio anual (%)  Cambio medio absoluto anual  \
 0                      244                   36 545 000
 1                      255                    5 555 000
 2                      166                    4 429 000
 3                      149                    1 075 000
 4                      284                   13 082 000
 ..                     ...                          ...
 92                     047                    4 628 000
 93                     200                    9 698 000
 94                     150                   24 694 000
 95                     010                      189 000
 96  Cambio medio anual (%)  Cambio medio absoluto anual

     Cambio medio abs. total anual (%)  Años para even- tual dupli- ca- ción
 0                                4455                                    29
 1                                 677                                    28
 2                                 540                                    42
 3                                 131                                    47
 4                                1595                                    25
 ..                                ...                                   ...
 92                                564                                   148
 93                               1182                                    35
 94                               3011                                    47
 95                                023                                   693
 96  Cambio medio abs. total anual (%)  Años para even- tual dupli- ca- ción

 [97 rows x 7 columns],
                                                      0  \
 0    Tabla de países y territorios dependientes por...
 1    N.º País (o territorio dependiente) Población ...
 2                                                  N.º
 3                                                    1
 4                                                    2
 ..                                                 ...
 714                                                234
 715                                                235
 716                                                236
 717                                                237
 718                                                  -

                                                      1  \
 0    Tabla de países y territorios dependientes por...
 1    N.º País (o territorio dependiente) Población ...
 2                      País (o territorio dependiente)
 3                                                China
 4                                                India
 ..                                                 ...
 714                                Islas Malvinas (RU)
 715                                          Niue (NZ)
 716                                       Tokelau (NZ)
 717                                Ciudad del Vaticano
 718                                              Mundo

                                                      2                    3
 0    Tabla de países y territorios dependientes por...                  NaN
 1    N.º País (o territorio dependiente) Población ...                  NaN
 2    Población estimada por la ONU para mediados de...  % del total mundial
 3                                          543 979 000                 2177
 4                                          357 021 000                 1428
 ..                                                 ...                  ...
 714                                              3 000                  000
 715                                              2 000                  000
 716                                              2 000                  000
 717                                              1 000                  000
 718                                  6 148 898 000 000                10000

 [719 rows x 4 columns],
      N.º País (o territorio dependiente)  \
 0      1                           China
 1      2                           India
 2      3                  Estados Unidos
 3      4                           Rusia
 4      5                           Japón
 ..   ...                             ...
 233  234         San Bartolomé (Francia)
 234  235                    Tokelau (NZ)
 235  236             Ciudad del Vaticano
 236  237                 San Martín (PB)
 237    -                           Mundo

     Población estimada por la ONU para mediados del año  1950  \
 0                                          543 979 000
 1                                          357 021 000
 2                                          148 282 000
 3                                          102 580 000
 4                                           84 353 000
 ..                                                 ...
 233                                              2 000
 234                                              2 000
 235                                              1 000
 236                                              1 000
 237                                  2 499 327 000 000

      % del total mundial
 0                   2177
 1                   1428
 2                    593
 3                    410
 4                    338
 ..                   ...
 233                    0
 234                    0
 235                    0
 236                    0
 237                10000

 [238 rows x 4 columns],
      N.º País (o territorio dependiente)  \
 0      1                           China
 1      2                           India
 2      3                  Estados Unidos
 3      4                           Rusia
 4      5                       Indonesia
 ..   ...                             ...
 233  234         San Bartolomé (Francia)
 234  235             Islas Malvinas (RU)
 235  236                    Tokelau (NZ)
 236  237             Ciudad del Vaticano
 237    -                           Mundo

     Población estimada por la ONU para mediados del año  1975  \
 0                                          915 125 000
 1                                          623 524 000
 2                                          211 275 000
 3                                          133 842 000
 4                                          131 213 000
 ..                                                 ...
 233                                              3 000
 234                                              2 000
 235                                              2 000
 236                                              1 000
 237                                  4 069 441 000 000

      % del total mundial
 0                   2249
 1                   1532
 2                    519
 3                    329
 4                    322
 ..                   ...
 233                    0
 234                    0
 235                    0
 236                    0
 237                10000

 [238 rows x 4 columns],
      N.º País (o territorio dependiente)  \
 0      1                           China
 1      2                           India
 2      3                  Estados Unidos
 3      4                       Indonesia
 4      5                          Brasil
 ..   ...                             ...
 233  234             Islas Malvinas (RU)
 234  235                       Niue (NZ)
 235  236                    Tokelau (NZ)
 236  237             Ciudad del Vaticano
 237    -                           Mundo

     Población estimada por la ONU para mediados del año  2000  \
 0                                        1 264 099 000
 1                                        1 059 634 000
 2                                          282 399 000
 3                                          214 072 000
 4                                          175 874 000
 ..                                                 ...
 233                                              3 000
 234                                              2 000
 235                                              2 000
 236                                              1 000
 237                                  6 148 898 000 000

      % del total mundial
 0                   2056
 1                   1723
 2                    459
 3                    348
 4                    286
 ..                   ...
 233                    0
 234                    0
 235                    0
 236                    0
 237                10000

 [238 rows x 4 columns],
                         0                                    1
 0  Control de autoridades  Proyectos Wikimedia  Datos: Q712280]

In [ ]:
pob_data[3]

,N.º,País (o territorio dependiente),Población estimada por la ONU para mediados del año 1950,% del total mundial
0,1,China,543 979 000,2177
1,2,India,357 021 000,1428
2,3,Estados Unidos,148 282 000,593
3,4,Rusia,102 580 000,410
4,5,Japón,84 353 000,338
...,...,...,...,...
233,234,San Bartolomé (Francia),2 000,0
234,235,Tokelau (NZ),2 000,0
235,236,Ciudad del Vaticano,1 000,0
236,237,San Martín (PB),1 000,0
237,-,Mundo,2 499 327 000 000,10000

#BASE DE DATOS LOCAL

In [ ]:
import sqlalchemy

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, inspect, text

In [ ]:
# Creando el motor SQLite
engine = create_engine('sqlite:///:memory:')

In [ ]:
file = 'clientes_banco.csv'

In [ ]:
clientes = pd.read_csv(file)
clientes.head()

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio

In [ ]:
clientes.shape

(438463, 11)

## CREATE

In [ ]:
clientes.to_sql('clientes', con=engine, index=False)

438463

In [ ]:
inspector = inspect(engine)

In [ ]:
print(inspector.get_table_names())

['clientes', 'empleados']

In [ ]:
query = 'SELECT * FROM clientes WHERE Categoria_de_renta = "Empleado"'

In [ ]:
empleados = pd.read_sql_query(sql=text(query), con=engine.connect())

In [ ]:
type(empleados)

pandas.core.frame.DataFrame

In [ ]:
empleados

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008815,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
4,5112956,46,Nivel superior,Casado,2,Empleado,Contabilidad,2,270000.0,1,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
226054,6837905,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226055,6837906,43,Nivel intermedio,Casado,3,Empleado,Otro,7,355050.0,1,Casa/Departamento propio
226056,6839936,34,Nivel intermedio,Casado,3,Empleado,Construcción Civil,5,135000.0,1,Casa/Departamento propio
226057,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
226058,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [ ]:
empleados.to_sql('empleados', con=engine.connect(), index=False,)

226059

## READ

In [ ]:
pd.read_sql_table('empleados', con=engine.connect(), columns=['ID_Cliente','Grado_estudio','Rendimiento_anual'])

        ID_Cliente     Grado_estudio  Rendimiento_anual
0          5008804    Nivel superior           427500.0
1          5008805    Nivel superior           427500.0
2          5008806  Nivel intermedio           112500.0
3          5008815    Nivel superior           270000.0
4          5112956    Nivel superior           270000.0
...            ...               ...                ...
226054     6837905  Nivel intermedio           355050.0
226055     6837906  Nivel intermedio           355050.0
226056     6839936  Nivel intermedio           135000.0
226057     6840222  Nivel intermedio           103500.0
226058     6842885  Nivel intermedio           121500.0

[226059 rows x 3 columns]

## DELETE

In [ ]:
query = 'SELECT * FROM clientes'

In [ ]:
pd.read_sql(sql=text(query), con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,135000.0,0,Casa/Departamento propio
438459,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438460,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438461,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438462,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

In [ ]:
from sqlalchemy.exc import  SQLAlchemyError
query = 'DELETE FROM clientes WHERE ID_Cliente = 5008804'
try:
  r_set = engine.connect().execute(text(query))

except SQLAlchemyError as e:
    print(e)
else:
  print("#Records deleted: ", r_set.rowcount)

#Records deleted:  1

In [ ]:
pd.read_sql_table('clientes', con=engine.connect())

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008806,58,Nivel superior,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
2,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
3,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008810,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438457,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,135000.0,0,Casa/Departamento propio
438458,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438459,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438460,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438461,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

## UPDATE

In [ ]:
from sqlalchemy.exc import  SQLAlchemyError
query = 'UPDATE clientes SET Grado_estudio = "Nivel superior" WHERE ID_Cliente = 5008806'
try:
  r_set = engine.connect().execute(text(query))

except SQLAlchemyError as e:
    print(e)
else:
  print("#Records updated: ", r_set.rowcount)

#Records updated:  1

#**Desafío**: crear una base de datos local de clientes para una institución financiera.

In [ ]:
# Creando el motor SQLite
engine2 = create_engine('sqlite:///:memory:')

In [ ]:
file = 'clientes_banco.csv'

In [ ]:
clientes_banco = pd.read_csv(file)

In [ ]:
clientes_banco.to_sql('clientes_banco', con=engine2, index=False)

438463

In [ ]:
inspector = inspect(engine2)

In [ ]:
print(inspector.get_table_names())

['clientes_banco']

In [ ]:
clientes_banco

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,5008804,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
1,5008805,32,Nivel superior,Relación-estable,2,Empleado,Otro,12,427500.0,1,Departamento alquilado
2,5008806,58,Nivel intermedio,Casado,2,Empleado,Seguridad,3,112500.0,1,Casa/Departamento propio
3,5008808,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
4,5008809,52,Nivel intermedio,Soltero,1,Business Partner,Ventas,8,270000.0,0,Casa/Departamento propio
...,...,...,...,...,...,...,...,...,...,...,...
438458,6840104,62,Nivel intermedio,Divorciado,1,Pensionista,Otro,0,135000.0,0,Casa/Departamento propio
438459,6840222,43,Nivel intermedio,Soltero,1,Empleado,Construcción Civil,8,103500.0,0,Casa/Departamento propio
438460,6841878,22,Nivel superior,Soltero,1,Business Partner,Ventas,1,54000.0,0,Vive con los padres
438461,6842765,59,Nivel intermedio,Casado,2,Pensionista,Otro,0,72000.0,0,Casa/Departamento propio
438462,6842885,51,Nivel intermedio,Casado,2,Empleado,Ventas,3,121500.0,0,Casa/Departamento propio

1. Actualizar el registro del cliente ID 6840104 cuyo rendimiento anual cambió a 300000.

In [ ]:
query = 'SELECT ID_Cliente, Rendimiento_anual FROM clientes_banco WHERE ID_Cliente = 6840104'

In [ ]:
cliente = pd.read_sql_query(sql=text(query), con=engine2.connect())
cliente

   ID_Cliente  Rendimiento_anual
0     6840104           300000.0

In [ ]:
query = 'UPDATE clientes_banco SET Rendimiento_anual = 300000 WHERE ID_Cliente = 6840104'
try:
  r_set = engine2.connect().execute(text(query))

except SQLAlchemyError as e:
    print(e)
else:
  print("#Records updated: ", r_set.rowcount)

#Records updated:  1

2. Eliminar el registro de cliente ID 5008809, ya que esta persona ya no tiene cuenta en la institución financiera.

In [ ]:
query = 'DELETE FROM clientes_banco WHERE ID_Cliente = 5008809'
try:
  r_set = engine2.connect().execute(text(query))

except SQLAlchemyError as e:
    print(e)
else:
  print("#Records deleted: ", r_set.rowcount)

#Records deleted:  1

In [ ]:
query = 'SELECT ID_Cliente, Rendimiento_anual FROM clientes_banco WHERE ID_Cliente = 5008809'

In [ ]:
cliente = pd.read_sql_query(sql=text(query), con=engine2.connect())
cliente

Empty DataFrame
Columns: [ID_Cliente, Rendimiento_anual]
Index: []

Crear un nuevo registro de cliente siguiendo las especificaciones a continuación:
* ID_cliente: 6850985
* Edad: 33
* Grado_estudio: Doctorado
* Estado_civil: Soltero
* Tamaño_familia: 1
* Categoria_de_renta: Empleado
* Ocupacion: TI
* Años_empleado: 2
* Rendimiento_anual: 290000
* Tiene_carro: 0
* Vivienda: Casa/Departamento propio

In [ ]:
query = 'INSERT INTO clientes_banco(ID_Cliente, Edad, Grado_estudio, Estado_civil, Tamaño_familia, Categoria_de_renta, Ocupacion, Años_empleado, Rendimiento_anual, Tiene_carro, Vivienda) VALUES(6850985, 33, "Doctorado", "Soltero", 1, "Empleado", "TI", 2, 290000, 0, "Casa/Departamento propio")'
try:
  r_set = engine2.connect().execute(text(query))

except SQLAlchemyError as e:
    print(e)
else:
  print("#Records created: ", r_set.rowcount)

#Records created:  1

In [ ]:
query = 'SELECT ID_Cliente, Edad, Grado_estudio, Estado_civil, Tamaño_familia, Categoria_de_renta, Ocupacion, Años_empleado, Rendimiento_anual, Tiene_carro, Vivienda FROM clientes_banco WHERE ID_Cliente = 6850985'

In [ ]:
cliente = pd.read_sql_query(sql=text(query), con=engine2.connect())
cliente

,ID_Cliente,Edad,Grado_estudio,Estado_civil,Tamaño_familia,Categoria_de_renta,Ocupacion,Años_empleado,Rendimiento_anual,Tiene_carro,Vivienda
0,6850985,33,Doctorado,Soltero,1,Empleado,TI,2,290000.0,0,Casa/Departamento propio